@charset 'UTF-8';
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: '黑体';
}

html {
    width: 100%;
    height: 100%;
    font-size: 100px;
}

body {
    width: 100%;
    height: 100%;
    font-size: 0.16px;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    header {
        width: 100%;
        height: 0.45rem;
        background: red;
        display: flex;
        color: #fff;
        line-height: 0.45rem;
        padding: 0 0.1rem;
        .add {
            width: 20%;
            text-align: center;
        }
        .text {
            flex: 1;
            text-align: center;
            input {
                width: 80%;
            }
        }
    }
    nav {
        width: 100%;
        height: 0.45rem;
        border-bottom: 0.01rem solid #ccc;
        padding: 0 0.05rem;
        display: flex;
        span {
            width: 25%;
            height: 100%;
            text-align: center;
            line-height: 0.45rem;
        }
        span.active {
            color: red;
        }
    }
    section {
        width: 100%;
        height: 100%;
        .list {
            width: 100%;
            li {
                width: 100%;
                height: 1.5rem;
                padding: 0.1rem;
                border-bottom: 0.01rem solid #ccc;
                display: flex;
                .right {
                    width: 40%;
                    span {
                        display: block;
                        background: red;
                        color: #fff;
                        text-align: center;
                        width: 100%;
                        height: 85%;
                        margin-bottom: 0.07rem;
                        line-height: 1rem;
                    }
                }
                .left {
                    flex: 1;
                    margin-left: 0.1rem;
                    h1 {
                        font-size: 0.18rem;
                        color: #999;
                        height: 0.3rem;
                    }
                    h2 {
                        font-size: 0.18rem;
                        color: red;
                    }
                    p {
                        width: 100%;
                        margin-top: 0.05rem;
                        span {
                            font-size: 0.14rem;
                            color: #ccc;
                            display: inline-block;
                            margin-right: 0.05rem;
                        }
                        b {
                            display: inline-block;
                            background: rgb(202, 236, 255);
                            padding: 0.01rem;
                        }
                    }
                }
            }
        }
    }
}